@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Alata";
  src: url("https://fonts.google.com/specimen/Alata");
}

@font-face {
    font-family: "Josefin Sans" ;
    src: url("https://fonts.google.com/specimen/Josefin+Sans");
}